body { 
    background-color: rgb(121, 0, 161);
}
h1{
    font-family: monospace; color: #ffffff;
}
.escarcha{
    font-family: cursive; font-size: larger;
}
p {
    color: #ffffff; font-size: larger;
}
ul {
    color: #ffffff;
}